.container
  .row
    .page-header.clearfix
      h1 #{message}
      .col-md-4
        .small 重度科幻迷~~~
      .col-md-8
        form(method="GET",action="/results")
          .input-group.col-sm-4.pull-right
            input.form-control(name='q',type='text')
            span.input-group-btn
              button.btn.btn-default(type="submit") 搜索